<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width,initial-scale=1.0" />
  <meta name="renderer" content="webkit" />
  <!-- 源地址设置 -->
  <meta name="referrer" content="no-referrer" />
  <!-- 同源 -->
  <!-- <meta http-equiv="Access-Control-Allow-Origin" content="*" /> -->
  <meta name="screen-orientation" content="portrait" />
  <meta name="full-screen" content="yes" />
  <meta name="browsermode" content="application" />
  <meta name="x5-orientation" content="portrait" />
  <meta name="x5-fullscreen" content="true" />
  <meta name="x5-page-mode" content="app" />
  <meta name="viewport"
    content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no,minimal-ui" />
  <link rel="icon" href="<%= BASE_URL %>favicon.ico" />

  <title><%= htmlWebpackPlugin.options.title %></title>
</head>

<body>
  <noscript>
    <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled.
      Please enable it to continue.</strong>
  </noscript>
  <div id="app"></div>
  <!-- built files will be auto injected -->


  <!-- 使用CDN加速的JS文件，配置在vue.config.js下 -->
  <!-- <script src="./vendor/vendor.dll.js"></script> -->
  <!-- sosoyoyo -->
  <script src="//at.alicdn.com/t/font_1671149_gscq3mhmpc.js"></script>
  <% for (var i in htmlWebpackPlugin.options.cdn && htmlWebpackPlugin.options.cdn.js) { %>
  <script src="<%= htmlWebpackPlugin.options.cdn.js[i] %>"></script>
  <% } %>
</body>

</html>